<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <title>connexion</title>
</head>
<body>
    <nav>
        <a href="/register">Inscription</a>
        <a href="/login">Se connecter</a>
    </nav>

    <form action="/login" method="post">
        <div class="inscription">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" required>

            <button type="submit" class="button">se connecter</button>
        </div>
    </form>
</body>
</html>
